<!DOCTYPE html>
<html class="full2" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IronHacks</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/back.css" rel="stylesheet">
</head>

<body class="judge">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav navbar-right">

                        </ul>
                </div>

            </div>

        </div>
    </nav>
    <section id="intro" class="intro-section">
        <div class="container">
            <h1 class="page-header">Hello Participant</h1>
            <div class="row row-centered">


                <div class="col-md-8 col-sm-6 col-xs-12 col-centered personal-info">
                    <h3 class="centered">Personal Information</h3>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" value="Jay" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" value="Patel" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Github:</label>
                            <div class="col-lg-8">
                                <input class="form-control" value="https://github.com/patel445" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" value="patel445@purdue.edu" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username:</label>
                            <div class="col-md-8">
                                <input class="form-control" value="patel445" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Score1:</label>
                            <div class="col-md-8">
                                <input class="form-control" value="120" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Score2:</label>
                            <div class="col-md-8">
                                <input class="form-control" value="130" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary" value="Save Changes" type="button">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>