<!DOCTYPE html>
<html class="full" lang="en">
<% include header.html %>

    <body>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                                  <li><a href="/">Homepage</a></li>
                                  <% if (locals.user == null) { %>
                                 <li><a href="/login">Login</a></li>
                                 <li><a href="/reg">Register</a></li>
                                  <% } else { %>
                                <li><a href="/logout">Logout</a></li>
                                  <% } %>
                            </ul>
                    </div>

                </div>

            </div>
        </nav>
                            <div id="container" class="container">
                                  <% if (locals.success) { %>
                            <div class="alert alert-success">
                              <%= locals.success %>
                            </div>
                              <% } %>
                             <% if (locals.error) { %>
                                <div class="alert alert-error">
                              <%= locals.error %>
                                </div>
                                  <% } %>
            

                            <div class="container">
                                <div id="clouds">
                                    <div class="cloud1"></div>
                                    <div class="cloud2"></div>
                                    <div class="cloud3"></div>
                                </div>
                                <div id="clouds2">
                                    <div class="cloud1"></div>
                                    <div class="cloud2"></div>
                                    <div class="cloud3"></div>
                                </div>
                            </div>
                            <div class="reg-box">
                                <div class="reg">
                                    <h2>User Registration</h2>
                                    <input type="text" id="username" name="username" placeholder="Username" />
                                    <input type="password" id="password" name="password" placeholder="Password" />
                                    <input type="password" id="password-repeat" name="password-repeat" placeholder="Confirm Password" />
                                    <input type="text" id="email" name="email" placeholder="Email" />
                                    <input type="text" id="type" name="type" placeholder="Type" />
                                    <div class="newbuts">
                                        <button type="submit">Register</button>
                                    </div>
                                </div>
                            </div>
                                      </div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>

</html>