<!DOCTYPE html>
<html class="full" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IronHacks</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/back.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="clouds">
            <div class="cloud1"></div>
            <div class="cloud2"></div>
            <div class="cloud3"></div>
        </div>
        <div id="clouds2">
            <div class="cloud1"></div>
            <div class="cloud2"></div>
            <div class="cloud3"></div>
        </div>
    </div>
    <div class="login-box">
        <div class="box">
            <img src="/images/Pickaxe.png" class="newbox" align="middle">
            <h2>Iron Hacks </h2>
            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />
            <button onClick="parent.location = 'page1.html'">Log In</button>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>