<!DOCTYPE html>
<html class="full2" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IronHackers</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/back.css" rel="stylesheet">
</head>

<body>
    <nav  class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://www.blueironhack.com">Blue Iron Hack Website</a>
                    </li>
                </ul>
        </div>
    </nav>
    <div class="login-box2">
        <div class="box2">
            <h2>Basic Information</h2>
        </div>
    </div>
    <div class="login-box3">
        <div class="box3">
            <h2>Competition Process</h2>
        </div>
    </div>
    <div class="login-box4">
        <div class="box4">
            <h2>Scores</h2>
        </div>
    </div>
    <div class="login-box5">
        <div class="box5">
            <h2>Community Activity</h2>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>